{% extends "emails/base_email.html" %}

{% block header_title %}{{title}}{% endblock %}

{% block content %}
<h2>Hello, {{ user_name }}!</h2>

<div>
    {{detail}}
</div>

<div class="divider"></div>

<p>If you have any questions or need assistance, please don't hesitate to reach out to our support team.</p>

<p>Site Administrators,<br>
<strong>{{ church_name }} media Support Team</strong></p>
{% endblock %}

{% block footer %}
<div class="email-footer">
            <p>&copy; {% now "Y" %} Church Attendance Management System. All rights reserved.</p>
            <p>{{ church_name }} is a registered trademark of the Church Attendance Management System.</p>
        </div>
{% endblock %}
